* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.filters {
  margin-bottom: 10px;
}
input{
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius:5px ;
  height: 40px;
}

#transactionTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#transactionTable th,
#transactionTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#transactionTable th {
  background-color: #f2f2f2;
}

#transactionChart {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}
.canvasjs-chart-canvas{
  padding-top: 30px;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#customerChartSection {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  background-color: #8c94a1;
  color: #e9ecef;
}

#transactionTable th,
#transactionTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer; 
    padding-top: 30px;
}

#transactionTable tbody tr:hover {
    background-color: #f0f0f0; 
}

#transactionTable tbody tr.selected {
    background-color: #cce5ff; 

 
}
.bg-b{
  background-color: #8c94a1 !important;
}
